:root {
--color-1: #FFFFFF;
--color-2: #F6F6F6;
--color-3: #F5F5F5;
--color-4: #e6e6e6;
--color-5: #5865F2;
--color-6: #3A3A3A;
--color-8: #1A1A1A;
--color-7: #10171D;
--color-9: #000000;

--animation0: 0ms;
--animation1: 200ms;
--animation2: 200ms;
--animation3: 200ms;
--animation4: 200ms;
--animation5: 200ms;
} 

body {
  background-color: var(--bg-body);
  color: var(--clr-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-title);
}

.animationOFF {
  --ani0: var(--animation0);
  --ani1: var(--animation0);
  --ani2: var(--animation0);
  --ani3: var(--animation0);
  --ani4: var(--animation0);
  --ani5: var(--animation0);
}

.animationON {
  --ani0: var(--animation0);
  --ani1: var(--animation1);
  --ani2: var(--animation2);
  --ani3: var(--animation3);
  --ani4: var(--animation4);
  --ani5: var(--animation5);
}

.light {
  --bg-body: var(--color-4);
  --bg-element: var(--color-2);
  --accent: var(--color-5);
  --clr-title: var(--color-5);
  --clr-text: var(--color-8);
  --clr-svg: var(--color-8);
  --bg-thumb: var(--color-5);
}

.dark {
  --bg-body: var(--color-6);
  --bg-element: var(--color-7);
  --accent: var(--color-5);
  --clr-title: var(--color-5);
  --clr-text: var(--color-3);
  --clr-svg: var(--color-3);
  --bg-thumb: var(--color-5);
}