:root {
--color-1: #FFFFFF;
--color-2: #F6F6F6;
--color-3: #F5F5F5;
--color-4: #EAEAEA;
--color-5: #5865F2;
--color-6: #3A3A3A;
--color-8: #1A1A1A;
--color-7: #10171D;
--color-9: #000000;

--animation: 200ms;
} 

body {
  background-color: var(--bg-body);
  color: var(--clr-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-title);
}

.light {
  --bg-body: var(--color-4);
  --bg-element: var(--color-2);
  --accent: var(--color-5);
  --clr-title: var(--color-9);
  --clr-text: var(--color-8);
  svg {
    fill: var(--color-8);
  }
  .stroke {
    fill: none;
    stroke: var(--color-8);
  }
}

.dark {
  --bg-body: var(--color-6);
  --bg-element: var(--color-7);
  --accent: var(--color-5);
  --clr-title: var(--color-1);
  --clr-text: var(--color-3);
  svg {
    fill: var(--color-3);
  }
  .stroke {
    fill: none;
    stroke: var(--color-3);
  }
}

