.dashboard {
  word-wrap: break-word;
	display: grid;
  grid-template-areas:
  "u"
  "m"
  "p";
  gap: 1rem;
  @media (min-width: 520px) {
    grid-template-columns:
    minmax(100px, 210px)
    minmax(100px, 500px)
  ;
	grid-template-areas:
			"u m"
      "p p";
  }
  @media (min-width: 625px) {
    height: 85vh;
    grid-template-columns:
    minmax(100px, 220px)
    minmax(100px, 600px)
    ;
    grid-template-areas:
    "u p"
    "m p";
  }
  @media (min-width: 800px) {
    grid-template-columns:
    minmax(100px, 220px)
    minmax(100px, 300px)
    minmax(100px, 600px)
    ;
    grid-template-rows: 
    unset;
    grid-template-areas:
    "u m p";
  }
  > * > * {
    padding: 1rem;
  }
  .u {
    grid-area: u;
    > * {
      background-color: var(--bg-element);
    }
  }
  .m {
    grid-area: m;
    > * {
      background-color: var(--bg-element);
    }
  }
  .p {
    grid-area: p;
    overflow-y: scroll;
  }

  p {
    margin: 0;
  }
  
  div.user {
    word-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
    gap: .2rem;
    form {
      margin-left: auto;
    }
    button {
      color: red;
    }
  }
}