footer {
  margin-top: 20rem;
  .footer-info {
    display: flex;
    gap: 1rem;
  }
  div:first-child {
    margin-right: auto;
  }
  * {
    margin: 0;
    padding: 0;
  }
  svg {
    height: 1rem;
  }
  h3 {
    color: var(--accent);
  }
  h4 {
    font-size: .9rem;
    color: var(--accent);
  }
  p {
    font-size: 1rem;
    svg {
      width: 1rem;
    }
  }
  a {
    color: inherit;
    text-decoration: none;
    font-size: .65rem;
  }
  hr {
    margin: 1rem 0;
  }
}
