footer {
  padding: 2vw;
  background-color: var(--bg-element);
  color: var(--clr-text);
  * {
    margin: 0;
    padding: 0;
  }
  > * {
    width: clamp(300px, 80vw, 1000px);
    margin: 0 auto;
  }
  > div {
    justify-content: space-between;
  }
  hr {
    margin: 1rem auto;
  }
  p {
    font-weight: 300;
    font-size: .8em;
  }
  a {
    text-decoration: none;
    font-weight: 300;
    color: inherit;
    &:hover,
    &:focus {
      font-weight: 400;
    }
  }
  .big {
    font-weight: 900;
    font-size: 1.8em;
    text-transform: uppercase;
  }
}
