.posts {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1rem 0;
}

.post {
  background-color: var(--bg-element);
  display: flex;
  flex-direction: column;
  width: 100%;

  * {
    margin: 0;
    padding: 0;
  }
  > div {
    padding: .5rem .9rem;
  }
}

.post-header {
  display: flex;
  gap: .5rem;
  .dots {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  p {
    font-weight: 600;
  }
}

// Icons
.upvote-svg, .comment-svg {
  stroke: var(--clr-svg);
  fill: none;
  &:hover,
  &:focus {
    fill: var(--clr-svg);
    opacity: .8;
  }
}

//  Icons end