.posts {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.post {
  background-color: var(--bg-element);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: .3rem 0;
  gap: .5rem;
  * {
    margin: 0;
    padding: 0;
  }
  > div {
    padding: 0.2rem 0.5rem;
  }
}

.post.create {
  input,
  textarea {
    width: 100%;
    background: none;
    color: var(--clr-text);
    outline: none;
    border: none;
    resize: none;
  }
  textarea {
    height: fit-content;
  }
}

.post-header {
  display: flex;
  gap: .5rem;
  .dots {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  p {
    font-weight: 600;
  }
  box-shadow: 0 1px 0 0 var(--clr-text);
}

.post-body {
  aspect-ratio: 1 / .5;
  box-shadow: 0 1px 0 0 var(--clr-text);
}

.post-comments {
  form {
    display: flex;
    gap: .3rem;
    input {
      background: none;
      color: var(--clr-text);
      outline: none;
      border: none;
      width: calc(100% - .3rem - 24px);
    }
  }
}



// Icons
.upvote-svg, .comment-svg {
  stroke: var(--clr-svg);
  fill: none;
  &:not(.pressed):hover,
  &:not(.pressed):focus {
    fill: var(--clr-svg);
    opacity: .8;
  }
  &.pressed {
    stroke: none;
    fill: var(--clr-title);
  }
}

//  Icons end