body {
  background-color: var(--bg-body);
}

.post {
  background: var(--bg-element);
  max-width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px var(--bg-element);
  .post-header {
    padding: .4rem .8rem;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    box-shadow: 0px 1px 0px var(--clr-text);
  p {
    padding-left: .5rem;
    margin: 0;
  }
  .dots {
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
  }
}
  .post-body {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem;
    box-shadow: 0px 1px 0px var(--clr-text);
    p{
      font-size: .7rem;
      font-weight: 300;
    }
    h3 {
      font-size: 1rem;
      font-weight: 500;
    }
    * {
      margin: 0;
      padding: 0;
    }
  }
  .post-comments {
    gap: .5rem;
    font-size: .7rem;
    padding: .5rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    a {
      text-decoration: none;
    }
    p {
      margin: 0;
    }
    .btmborder {
      border-bottom: 2px solid var(--accent);
      color: var(--clr-text);
      width: 95%;
    }
    .comment-input {
      background: 0;
      color: var(--clr-text);
      border: none;
      outline: none;
      width: 100%;
    }
  }
  .comment-form {
    padding: .5rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    
  }
}

// Icons
.upvote-svg, .comment-svg {
  stroke: var(--clr-svg);
  fill: none;
  &:hover,
  &:focus {
    fill: var(--clr-svg);
    opacity: .8;
  }
}

//  Icons end