:root {
  --accent-clr: #5865F2;
  --title-clr-dk: #F5F5F5;
  --text-clr-dk: #ffffff;
  --bg-dk: #3A3A3A;
  --bg-el-dk: #10171D;
  --title-clr-lg: #1A1A1A;
  --text-clr-lg: #000000;
  --bg-lg: #EAEAEA;
  --bg-el-lg: #F6F6F6;
} 