@use './_abstracts';
@use './_components';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');
html {
  font-size: 20px;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
	font-family: roboto;
}

main {
	padding-top: 60px;
	grid-area: m;
	min-height: calc(100vh - 45px);
	display: flex;
	flex-direction: column;
}

button {
	background: none;
	border: none;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

ul {
	list-style: none;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.row.center {
	align-items: center;
}

.column {
	display: flex;
	flex-direction: column;
}


::-webkit-scrollbar {
  width: .6em;
  height: 1em;
}

::-webkit-scrollbar-track {
  background: var(--bg-element);
	width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-thumb);
	border: 4px solid var(--bg-element);
	border-radius: 100px;
}

header,
footer {
    display: grid;
    grid-template-columns:
        minmax(0.5rem, 1fr)
        minmax(1px, 700px)
        minmax(0.5rem, 1fr);
				grid-template-areas: ". c .";
}

body {
	display: grid;
	grid-template-columns:
			minmax(0.1rem, 1fr)
			minmax(1px, 600px)
			minmax(0.1rem, 1fr);
	position: relative;
	grid-template-areas:
			"h h h"
			". m ."
			"f f f";
	gap: 1rem;
	&.big {
		overflow: hidden;
		grid-template-columns: 
		minmax(0.1rem, 1fr) 
		minmax(1px, 600px)	
		minmax(0.1rem, 1fr);

		@media (min-width: 600px) {
			grid-template-areas:
			"h h h h"
			". m p ."
			"f f f f";
			grid-template-columns:
			minmax(0.1rem, 1fr)
			minmax(1px, 300px)
			minmax(1px, 400px)
			minmax(0.1rem, 1fr);
		}
		@media (min-width: 1000px) {
			grid-template-areas:
			"h h h h h"
			". u m p ."
			"f f f f f";
			grid-template-columns:
			minmax(0.1rem, 1fr)
			minmax(1px, 200px)
			minmax(1px, 300px)
			minmax(1px, 300px)
			minmax(0.1rem, 1fr);
		}
	}
}

header {
	grid-area: h;
	width: 100%;
	position: fixed;
}

footer {
	grid-area: f;
}

nav,
footer > * {
	grid-area: c;
}

.page-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
	background-color: var(--bg-element);
	border-radius: .5rem;
	padding: .5rem;
	* {
		margin: 0;
	}

	
.brd {
  border: 1px solid #e2eded;
  border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}
}

.dropdown {
	min-width: fit-content;

  ul {
    position: absolute;
		inset: 2rem 0 auto auto;
    padding: .1rem;
    width: 10vw;
		min-width: fit-content;
		transform: scaleX(0%);
    background-color: var(--bg-element);
		z-index: 1;
  }
	li {
		&:hover {
			outline: 1px solid hsla(0, 0%, 50%, 0.5);
			opacity: 0.8;
		}
	}
	&.wide {
		width: 10vw;
		p {
			margin: .1rem;
			padding: .1rem;
			color: var(--clr-text);
			background-color: var(--bg-body);
		}
		button {
			padding: 0;
			width: 100%;
			height: 2rem;
			background-color: var(--bg-body);
			color: var(--clr-text);
		}
	}
	&:focus,
	&:focus-within {
		ul {
			transform: scaleX(100%);
		}
	}
}

.prel {
	position: relative;
}