@use './_abstracts';
@use './_components';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');
html {
  font-size: 20px;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
	font-family: roboto;
}

main {
	padding-top: 60px;
	grid-area: m;
	min-height: calc(100vh - 60px);
	display: flex;
	flex-direction: column;
}

button {
	background: none;
	border: none;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

ul {
	list-style: none;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.row.center {
	align-items: center;
}

.column {
	display: flex;
	flex-direction: column;
}


::-webkit-scrollbar {
  width: .6em;
  height: 1em;
}

::-webkit-scrollbar-track {
  background: var(--bg-element);
	width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-thumb);
	border: 4px solid var(--bg-element);
	border-radius: 100px;
}

header,
footer {
    display: grid;
    grid-template-columns:
        minmax(0.5rem, 1fr)
        minmax(1px, 600px)
        minmax(0.5rem, 1fr);
				grid-template-areas: ". c .";
}

body {
	display: grid;
	grid-template-columns:
			minmax(0.1rem, 1fr)
			minmax(1px, 600px)
			minmax(0.1rem, 1fr);
	position: relative;
	grid-template-areas:
			"h h h"
			". m ."
			"f f f";
	gap: 1rem;
	&.big {
		grid-template-columns:
		minmax(0.1rem, 1fr)
		minmax(1px, 800px)
		minmax(0.1rem, 1fr);
	}
}

header {
	grid-area: h;
	width: 100%;
	position: fixed;
}

footer {
	grid-area: f;
}

nav,
footer > * {
	grid-area: c;
}